
.verticalScroll{
    height:250px;
    overflow-y:auto;
	border-bottom: 1px solid black;
	text-align: left;
	padding: 3px;
}
.areatext_Comentaries{
	resize: none;
	width: 100%;
	height: 100px;
	background-color: #f8f8f8;
	color:black;
	border-radius: 0px 0px 5px 5px;
}

/**
*SHOW & HIDE COMMENTS:
*/
.hideComments{
	display: none;
}
.showComments{
	display: block;
	font-size: 16px;
	position: absolute;
	background-color: white;
	border:5px solid black;
	border-radius: 10px;
	width: 100%;
	height: 360px;
}
/**
*POSITIONS:
*/

.framedPicturePosition{
	position: absolute;
    text-align: center;
}
.imgDogPosition{
	z-index: -2;
}


.namePlatePosition{
	position: absolute;
	bottom: -10px;
	left:20px;
}
.namePlateText{
	position: absolute;
	font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/**
*MARGINS:
*/
.marginButtonHistory{
	display: block;
	margin-top: 30px;
	margin-bottom: 30px;
}

.marginHistory{
	margin-top: 100px;
	margin-bottom: 30px;
}

/**
*TRANSITIONS:
*/
.borderButtonHistory{
	border: none;
	background: none;
}

.buttonResize{transition:  0.3s ease-in-out 0s;}
.buttonResize:hover{transform: scale(1.3);}

.liked{transition:  0.3s ease-in-out 0s;}
.liked:hover{
	transform: scale(1.3) !important;
	background-image: url("../../images/like_red.png");
}
/**
*ANIMATIONS
*/
@keyframes beat {
  from {
	transform: scale(1);
  }

  to {
	transform: scale(1.3);
	background-image: url("../../images/like_red.png");
  }
}

.toBeat{/*Palpitar*/
	animation-duration: 0.5s;
  	animation-name: beat;
  	animation-iteration-count: infinite;
  	animation-direction: alternate;
}
.toBeat:hover{
	transition:  0.5s ease-in-out 0s;
	transform: scale(1) !important;
	animation-iteration-count: 1;
}


/**
*IMAGES LOAD:
*/
.namePlate{
	background-image: url("../../images/plate.png");
	width: 215px;
	height: 56px;
}
.like{
	background-image: url("../../images/like.png");
	width: 56px;
	height: 47px;
	filter: grayscale(0%);
}

.balloonCommentaries{
	background-image: url('../../images/comment.png');	
	width: 56px;
	height: 41px;
	font-weight: bold;
	font-size: 20px;
}
.dislike{
	background-image: url('../../images/dislike.png');	
	width: 70px;
	height: 63px;
}
.disliked{
	background-image: url('../../images/dislike_yellow.png');	
	width: 70px;
	height: 63px;
}
.blackFrame{
	position: absolute;
	background-image: url('../../images/black_frame.png');
	width: 512px;
	height: 512px;
	transform: scale(0.5);
	margin-top: -128px;
	margin-left: -256px;
}
