.backgroundWall{
	background-position: center;
	background-repeat: repeat-y;
	padding-bottom: 120px;
	min-height: 100vh;
}
.backgroundBeach{
	background-image: linear-gradient(#FFFFFF,#F7ECC0,#F4F8C0,#D4B682, #8F6215);
}
.backgroundHome{
	background: linear-gradient(white, skyblue, skyblue);
}
.backgroundMountain{
	background: linear-gradient(#FFFFFF,#959994,#85EB6C, #3CE013);
}
.containerSticky{
	position: sticky;
	top:25px;
	margin-top: -30px;
	z-index: 1;
	height: 120px;
}
