.backgroundWall{
	background-image: url('../../images/footprint.png');
	background-repeat: repeat-y;
	background-position: center;
	margin-bottom: 50px;
}

.containerSticky{
	position: sticky;
	top:25px;
	margin-top: -30px;
	z-index: 1;
	height: 120px;
}

