
.HeaderConfigContainer{
	position: absolute;
	border: 1px solid black;
	border-radius: 5px;
	margin-top: -1px;
	width: 200px;
	height: 100px;
	z-index: 2;
	text-align: left;
	background:linear-gradient(#95BD86, #AEF57F);
}
.textSwitchContainaer{
	margin-top: 20px;
}
.switchContainer{
	margin-top: 20px;
}

.selectDogContainer{
	margin-left: -50px;
}

.inputSelectDog{
	width: 130px;
}
@media (max-width: 500px){
	.HeaderConfigContainer{
		width: 166px;
	}
	.inputSelectDog{
		width: 100px;
	}
}