
.navbar-fixed{
	position: sticky;
	left:0px;
  	top:0px;
  	z-index:3;
}

.navbar-white{
	background-color: white; 
	border:5px solid black;
}
.navbrand{
	font-size: 24px;
	color:black;
}
.navbrand:hover{
	color: black;
}
.navlink{
	font-size: 18px;
	color:black;
}
.navlink:hover{
	color:black;
	background: linear-gradient(#AEF57F, #95BD86) !important;
}
.navlink:focus{
	color:black;
	background: linear-gradient(#AEF57F, #95BD86) !important;
}
.HeaderDogContainer{
	border: 1px black solid;
	border-radius: 5px;
	background: linear-gradient(#AEF57F, #95BD86);
	margin-top: 3px;
	width: 200px;
	height: 44px;
}

.element_0_headerDog{
	margin-top: 13px;
}
.element_1_headerDog{
	margin-top: 2px;
}
.element_2_headerDog{
	margin-top: -7px;
}

.HeaderSearchContainer{
	margin-top: 10px;
	border-radius: 5px;
}
.btn_logout{
	width: 47px;
	height: 47px;
	font-size: 20px;
	background-color: white;
}
.btn_logout:hover{
	background-color: #ECE8E8;
}
@media (max-width: 876px){
	.navlink{
		font-size: 16px;
	}
	.navbrand{
		font-size: 20px;
	}
}
@media (max-width: 822px){
	.navlink{
		font-size: 15px;
	}
	.navbrand{
		font-size: 18px;
	}
	.btn_logout{
		width: 30px;
		margin-left: 15px;
		padding-left:3px; 
	}
}
@media (max-width: 755px){
	.btn_logout{
		margin-left: -15px;
	}
}
@media (max-width: 500px){
	.HeaderDogContainer{
		width: 166px;
	}
}