.backgroundMyDogs{
	background-image: url('../../images/mydogsbackground.png');
	background-position: center;
	background-size: 100% 125%;
	background-repeat: no-repeat;
	min-height: 650px;
	margin-top: -20px;
}
.btnSeeGallery{
	margin-top: 30px;
}
.noDogsText{
	margin-top: 30%;
	font-size: 28px;
	color:gray;
}

.dogListContainer{
	margin-top: 50px;
	margin-left: 15px;
	text-align: left;
}
.elementDogList{
	width: 100%;
	margin-top: 10px;
	border: 1px solid black;
	color: black;
	border-radius: 5px;
	font-size: 24px;
	transition: 0.2s ease-in-out 0s;
}
.elementDogList:hover{
	background-color: #bfa894;
}
.btnEditDog{
	margin-top: 2px;
}
.btnEditDog:hover{
	background-color: #a58669;
	border:black;
	color:white;
}
.btnRemoveDog{
	margin-top: 2px;
}
.btnRemoveDog:hover{
	background-color: #a58669;
	border:black;
	color:white;
}
.h2DeleteDog{
	display: inline;
	color:red;
}
@media (max-width: 1279px) {
  .elementDogList {font-size: 22px;}
}
@media (max-width: 1204px) {
  .elementDogList {font-size: 21px;}
}
@media (max-width: 1120px) {
  .elementDogList {font-size: 20px;}
}
@media (max-width: 991px) {
  .backgroundMyDogs {background-image: none;}  
}
@media (max-width: 900px) {
  .elementDogList {font-size: 16px;}
  
}