
.containerAddDog{
	display: inline-block;
	position: sticky;
	margin-top: -70px;
	top:30px;
	transition:  0.3s ease-in-out 0s;
	z-index: 1;
}

.marginNewDogFields{
	margin-top: 5px;
	margin-left: 5px;
}
.marginNewDogFields >h4{
	display: inline;
}
.inputNewDog{
	font-size: 12px;
	width: 100%;
}