.imgCover{
	margin-top: 100px;
	background-image: url("../images/windows.png");
	width: 170px;
	height: 200px;
	position:fixed;
	left:20px;
	bottom:0px;
}
.imgCoverB{
	background-image: url("../images/windowsbad.png");
	width: 210px;
	height: 248px;
	position:fixed;
	left:20px;
	bottom:0px;
}
.pCover{
	margin-top: 60px;
	font-size: 18px;
}
.pCover2{
	margin-top: 30px;
	font-size: 18px;
}
