
.navbar-fixed{
	position: sticky;
	left:0px;
  	top:0px;
  	z-index:2;
}

.navbar-white{
	background-color: white; 

	border:5px solid black;
}
.navbrand{
	font-size: 24px;
	color:black;
}
.navbrand:hover{
	color: black;
}
.navlink{
	font-size: 18px;
	color:black;
}

.navlink:hover{
	color:black;
	background: linear-gradient(#AEF57F, #95BD86) !important;
}
.navlink:focus{
	color:black;
	background: linear-gradient(#AEF57F, #95BD86) !important;
}