
.navbar-fixed{
	position: sticky;
	left:0px;
  	top:0px;
  	z-index:2;
}

.navbar-white{
	background-color: white; 
	border:5px solid black;
}
.navbrand{
	font-size: 24px;
	color:black;
}
.navbrand:hover{
	color: black;
}
.navlink{
	font-size: 18px;
	color:black;
}
@media (max-width: 876px){
	.navlink{
		font-size: 16px;
	}
	.navbrand{
		font-size: 20px;
	}
}
@media (max-width: 822px){
	.navlink{
		font-size: 15px;
	}
	.navbrand{
		font-size: 18px;
	}
}
.navlink:hover{
	color:black;
	background: linear-gradient(#AEF57F, #95BD86) !important;
}
.navlink:focus{
	color:black;
	background: linear-gradient(#AEF57F, #95BD86) !important;
}
.HeaderDogContainer{
	border: 1px black solid;
	border-radius: 5px;
	background: linear-gradient(#AEF57F, #95BD86);
	margin-top: 3px;
	max-width: 200px;
	height: 44px;
}
.element_0_headerDog{
	margin-top: 13px;
}
.element_1_headerDog{
	margin-top: 2px;
}
.element_2_headerDog{
	margin-top: -7px;
}

.HeaderSearchContainer{
	margin-top: 10px;
	border-radius: 5px;
}

.HeaderConfigContainer{
	position: relative;
	border: 1px solid black;
	border-radius: 5px;
	margin-top: -11px;
	width: 100%;
	height: 100px;
	z-index: 2;
	background:linear-gradient(#95BD86, #AEF57F);
}
.textSwitchContainaer{
	margin-top: 20px;
}
.switchContainer{
	margin-top: 20px;
}