body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #F5F5F5;
}

.cursorPointer{cursor: pointer;}

.cursorDefault{cursor: default;}

.outlineNone{outline: none;}

.outlineGreen{outline: green outset 2px;}

.displayInline{display:inline;}

.displayInlineBlock{display:inline-block;}

.displayBlock{display: block;}

.textCenter{text-align: center;}

.marginTop200px{margin-top: 200px;}
