
.centerContent{
	text-align: center;
}
.tableLogin{
	text-align: left;
}

.labelLogin{
	text-align: left;
	font-size: 12px;
}

.inputLogin{
	margin-left: 10px;
	width: 150px;
	margin-top: 5px;
	margin-bottom: 2px;
}
.btnalign{
	margin-left: 10px;
	height: 30px;
}
@media (max-width: 458px) {
  .inputLogin{
  	width: 120px;
  }
}