
.centerContent{
	text-align: center;
}
.borderLogin{
	background: linear-gradient(#9DE048,#68CF11); 
	width: 300px;
	padding: 20px;
	margin: auto;
	border: 1px solid black;
	border-radius: 10px
}
.tableLogin{
	text-align: left;
}

.
.labelLogin{
	text-align: left;
}

.inputLogin{
	margin-left: 10px;
	width: 150px;
	margin-top: 5px;
	margin-bottom: 2px;
}
.btnalign{
	margin-left: 10px;
	margin-top:-1px;
	height: 30px;
}
@media (max-width: 458px) {
  .inputLogin{
  	width: 120px;
  }
}